block head
    link(rel="stylesheet", href="stylesheets/shift-calendar/shift-calendar.css")
    script(type="text/javascript", src="/javascripts/libraries/date.js")
    script(type="text/javascript", src="/javascripts/controllers/employee-schedule-controller.js")
    script(type="text/javascript", src="/javascripts/services/schedule-service.js")
    script(type="text/javascript", src="/javascripts/services/shift-service.js")
    script(type="text/javascript", src="/javascripts/services/swap-service.js")

mixin employee-shift-calendar(org, scheduleId)
    div(id="shift-calendar" ng-controller="EmployeeScheduleController" ng-init="init('#{user._id}', '#{user.name}', '#{org}','#{scheduleId}')")
        div.date-tabs-container
            //- should be a tab to change date range
        div(id="weekPicker")
            div.dropdown
                button.btn.btn-default.dropdown-toggle(type="button"
                    id="dropdownMenu" data-toggle="dropdown"
                    aria-expanded="true" data-ng-bind="currentWeek.toDateString()")
                    span.caret
                ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu")
                    li(role="week" data-ng-repeat="day in availableWeeks")
                        a(role="menuitem" tabindex="-1" href="#") {{day.toDateString()}}

        //- TODO: only for manager
        div.schedule-tabs-container
            div.btn-group(id="schedule-tabs")
                button.btn.btn-default(type="button"
                    data-ng-repeat="schedule in schedules"
                    id="{{schedule._id}}"
                    class="set-current-schedule") {{schedule.role}} 
        div(ng-if="!isManager") employee (will remove later)
        div(id="shift-schedule")
            div.cal-column
                div.cal-col-title 
                div.events
                    div.event-box.heading.time-label(data-ng-repeat="hour in ['12 PM', '1 PM', '2 PM', '3 PM', '4 PM', '5 PM']") {{hour}}
            div.cal-column(data-ng-repeat="day in ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']")
                div.cal-col-title.heading {{day}}
                div.events
                    div.event-box.open-event-slot(
                        data-ng-repeat="hour in [12,1,2,3,4,5]")
                        //- TODO: if shift is own shift, add ability to pop up (TRADE/PUT) modal
                        //- TODO: if shift is not own shift, + is put up, add ability to pop up (GRAB/TRADE) modal
                        div.shift(data-ng-repeat="shift in shiftsByDay[day][hour]")
                            //- TODO: add shift ID to shift. Add person id somewhere too
                            p {{shift.responsiblePerson.name}}
                            button(ng-if="isMyShift(shift.responsiblePerson.name) && !shift.upForGrabs && !shift.upForSwap"
                                data-toggle="modal"
                                data-target="#putUpShiftModal"
                                data-shift-id="{{shift._id}}"
                                data-day-week="{{day}}"
                                data-start-time="{{hour}}" 
                                data-end-time="{{hour+1}}"
                                class="set-active-shift-info") GIVE UP
                            button(ng-if="shift.upForGrabs"
                                data-toggle="modal"
                                data-target="#claimShiftModal"
                                data-shift-id="{{shift._id}}"
                                data-day-week="{{day}}"
                                data-start-time="{{hour}}" 
                                data-end-time="{{hour+1}}"
                                class="set-active-shift-info") CLAIM
                            button(ng-if="!isMyShift(shift.responsiblePerson.name) && shift.upForSwap"
                                data-toggle="modal"
                                data-target="#offerSwapShiftModal"
                                data-shift-id="{{shift._id}}"
                                data-day-week="{{day}}"
                                data-start-time="{{hour}}" 
                                data-end-time="{{hour+1}}"
                                data-swap-id="{{availableShiftsForSwap[shift._id].swapId}}"
                                class="set-active-swap-info") OFFER SWAP
                            button(ng-if="isMyShift(shift.responsiblePerson.name) && shift.upForSwap"
                                data-toggle="modal"
                                data-target="#viewSwapOffersModal"
                                data-shift-id="{{shift._id}}"
                                data-day-week="{{day}}"
                                data-start-time="{{hour}}" 
                                data-end-time="{{hour+1}}"
                                data-swap-id="{{availableShiftsForSwap[shift._id].swapId}}"
                                class="set-active-swap-info") VIEW OFFERS
        div.modal.fade#putUpShiftModal
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close 
                        h4.modal-title Give up this shift?
                    div.modal-footer
                        button.btn.btn-default(type="button" class="put-up-for-grabs" data-dismiss="modal") Put up for grabs
                        button.btn.btn-default(type="button" class="put-up-for-swap" data-dismiss="modal") Put up for swap
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
        div.modal.fade#claimShiftModal
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close 
                        h4.modal-title Claim this shift?
                    div.modal-footer
                        button.btn.btn-default(type="button" class="claim-shift" data-dismiss="modal") Claim
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
        div.modal.fade#offerSwapShiftModal
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close 
                        h4.modal-title Offer a swap for this shift
                    div.modal-body
                        form.form-horizontal
                            div.form-group
                                div.col-lg-10
                                    select.form-control(name="offeredShift") Select from my shifts:
                                        option(data-ng-repeat="shift in myShifts" id="{{shift._id}}" val="{{shift._id}}") {{shift.dayOfWeek}} {{shift.start}} - {{shift.end}}
                    div.modal-footer
                        button.btn.btn-default(type="button" class="offer-swap-for-shift" data-dismiss="modal") Send offer
                        button.btn.btn-default(type="button" data-dismiss="modal") Close
        div.modal.fade#viewSwapOffersModal
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button(type="button" class="close" data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close 
                        h4.modal-title Current offer
                    div.modal-body
                        form.form-horizontal
                            div.form-group
                                div.col-lg-10 In exchange for your {{swapProposals[activeSwapId].shiftUpForSwap.dayOfWeek}} {{swapProposals[activeSwapId].shiftUpForSwap.dateScheduled}} {{swapProposals[activeSwapId].shiftUpForSwap.start}} - {{swapProposals[activeSwapId].shiftUpForSwap.end}} shift:
                                div.col-lg-10 {{swapProposals[activeSwapId].shiftOfferedInReturn.dayOfWeek}} {{swapProposals[activeSwapId].shiftOfferedInReturn.dateScheduled}} {{swapProposals[activeSwapId].shiftOfferedInReturn.start}} - {{swapProposals[activeSwapId].shiftOfferedInReturn.end}} 
                                input(type="submit", value="Accept", ng-click="acceptSwap(activeSwapId)")
                                input(type="submit", value="Reject", ng-click="rejectSwap(activeSwapId)")
       