//- Page Header (for managers and employees)
//- @author Lily Seropian, Anji Ren

extends layout

block head
  include manager/manager.jade
  include employee/employee.jade

  script(type="text/javascript", src="/javascripts/services/shift-service.js")
  script(type="text/javascript", src="/javascripts/services/template-shift-service.js")

block navbar
  span.navbar-right
    a.navbar-brand(href="/home")
      span.glyphicon.glyphicon-home(title="Home")
    a.navbar-brand(href="/dashboard")
      span.glyphicon.glyphicon-dashboard(title="Dashboard")
    a.navbar-brand(href="/signout")
      span.glyphicon.glyphicon-log-out(title="Sign Out")

block content
  h1 Welcome, #{user.name}!
  h2 Check your details below:
  ul
    li Name: #{user.name}
    li Email: #{user.email}
    li Organization: #{user.org}
    if user.schedule
      li Schedule ID: #{user.schedule}

  if user.schedule
    +employee(user)
  else
    +manager(user)