extends layout
block head
    include mixins/css.jade
    +css("main")
    +css("shift")

    script(type="text/javascript", src="javascripts/controllers/home-controller.js")

    include mixins/shift-display.jade
    include mixins/template-shift-display.jade
    include mixins/edit-org.jade
    include mixins/manager.jade
    include mixins/employee.jade

block content
    div(ng-controller="HomeController")
        div.container
            div.row
                div.col-sm-6.col-md-4.col-md-offset-4
                    div
                        a(href="/signout", class="text-center") Sign Out
                    h1.text-center.login-title Welcome #{user.name}. Check your details below:
                        div.signup-wall
                            ul.user-details
                                li Name: #{user.name}
                                li Email: #{user.email}
                                li Organization: #{user.org}
                                if user.schedule
                                    li Schedule ID: #{user.schedule}
        if user.schedule
            +employee()
        else
            +manager(user)