//- Page Header (for managers and employees)
//- @author Lily Seropian, Anji Ren

extends layout

block head
  include manager/manager.jade
  include employee/employee.jade

block content
  a(href="/signout", class="text-center") Sign Out

  h1 Welcome, #{user.name}!
  h2 Check your details below:
  ul
    li Name: #{user.name}
    li Email: #{user.email}
    li Organization: #{user.org}
    if user.schedule
      li Schedule ID: #{user.schedule}

  if user.schedule
    +employee(user)
  else
    +manager(user)